<script>
    /* Fisher-Yates shuffle for random sorting */
    function shuffle(array) {
        let m = array.length;
        while (m) {
            const i = Math.floor(Math.random() * m--);
            [array[m], array[i]] = [array[i], array[m]];
        }
        return array;
    }

    /* init banner image */
    // set up banner images
    var bannerImages = [ 
        {% for b in site.data.banner-feature-images %}{ "src": "{{ b.src }}", "position": "{{ b.position | default: 'center' }}", "alt": "{{ b.title }}", "link": "{{ b.link }}" }{% unless forloop.last %},{% endunless %} {% endfor %}
    ];
    var featuredImage = shuffle(bannerImages).pop();
    // set background image
    var homeBanner = document.getElementById("home-banner");
    homeBanner.style.backgroundImage = `url(${featuredImage.src})`;
    homeBanner.style.backgroundRepeat = "no-repeat";
    homeBanner.style.backgroundSize = "cover";
    homeBanner.style.backgroundPosition = featuredImage.position;
    //homeBanner.style.backgroundAttachment = "fixed";
    // set featured image link
    document.getElementById("featured-image-link").innerHTML = `<a class="text-white fs-6" href="${featuredImage.link}" title="${featuredImage.alt}">Featured Image</a>`;

    /* init bs popovers for help text */ 
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]');
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl));
  
    /* init feature carousel */ 
    /* add item data */ {% assign carousel-items = site.data.index-carousel | where_exp: 'c', 'c.title' %}
    // title,text,src,btn,link
    var carouselItems = {{ carousel-items | jsonify }};
    // shuffle items
    shuffle(carouselItems);
    /* Sort the array, putting priority items first */
    /*
    carouselItems.sort(function() { return 0.5 - Math.random() });
    carouselItems.sort((a, b) => {
        // If both items have the same value, maintain original order
        if (a.priority === b.priority) {
            return 0;
        }
        // Prioritize items with priority true
        return a.priority == "true" ? -1 : 1;
    });*/
    // add items to carousel 
    var carousel = document.getElementById("carouselInner");
    var carouselIndicators = document.getElementById("carouselIndicators");
    var slides = "";
    var indicators = "";
    var i;
    for (i=0; i < {{ carousel-items | size }}; i++) { 
        // create indicator 
        indicator = `<button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="${i.toString()}" ${ i == 0 ? 'class="active" aria-current="true" ' : '' }aria-label="Slide ${i.toString()}"></button>`;
        // create slide
        slide = `<div class="carousel-item rounded${ i == 0 ? ' active' : '' }" style="background-image:url(${carouselItems[i].src}); background-repeat:no-repeat; background-size:cover; background-position:center;">
            <div class="carousel-caption bg-dark bg-opacity-75 rounded p-3 text-start mb-3">
                <h3 class="text-white py-2">${carouselItems[i].title}</h3>
                <div class="row">
                    <div class="col-md-8">
                    <p class="d-none d-md-block">${carouselItems[i].text}</p>
                    </div><div class="col-md-4">
                    <p class="text-center"><a href="${carouselItems[i].link}" class="btn btn-lg btn-outline-pride-gold text-white">${carouselItems[i].btn}</a></p>
                    </div>
                </div>
            </div></div>`;
        slides += slide;
        indicators += indicator;
    }
    // add indicators to page 
    carouselIndicators.innerHTML = indicators;
    // add slides to the page
    carousel.innerHTML = slides;

</script>